/* external css: flickity.css */



* { box-sizing: border-box }

h1 { text-align: center }

.carousel {
  background: #fff;
    width: calc(300px + (700 - 300) * ((100vw - 340px) / (2000 - 340)));
	position: relative;
	margin: calc(3vh + (7 - 3) * ((100vw - 340px) / (2000 - 340))) auto 0;
}

.carousel-cell {
  margin-right: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px #999;
}

.carousel-cell img {
  display: block;
  width: calc(300px + (700 - 300) * ((100vw - 340px) / (2000 - 340)));
}
/* 
@media screen and ( min-width: 768px ) {
  .carousel-cell img {
    height: 400px;
  }
} */

/* body > div > .flickity-page-dots {
	position: absolute;
	bottom: -180px;
} */


body > div > .flickity-page-dots {
display: none;
}

.flickity-button {
	color: #099;
}